<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>

    <div class="main">


        <div class="nav">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#">Nossos Serviços</a></li>
                <li><a href="#">Fale Conosco</a></li>
            </ul>
        </div>


        <div class="CenterInformation">


            <div class="ContentCenter">
                <h2 class="TitleContent">DESENVOLVIMENTO DE SOLUÇÕES RPAS SOB DEMANDA</h2>

                <h1 class="MainTitleSolucoes">SOLUÇÕES </h1>
                <h1 class="MainTitleRpas">RPAS </h1>
                <h1 class="MainTitle100">100% </h1>
                <h1 class="MainTitleCustom">CUSTOMIZADAS </h1>
    
                <p class="Content">DESENVOLVER PROCESSOS DE AUTOMAÇÃO PARA OS NOSSOS CLIENTES, COM O
                    OBJETIVO DE MELHORAR SUA PERFORMANCE, REDUZIR CUSTOS, GANHAR TEMPO PARA
                    REALIZAR UMA GESTÃO ESTRATÉGICA COM EXCELÊNCIA, MINIMIZAR ERROS E MAXIMIZAR OS
                    LUCROS.
                    </p>
            </div>

            

        </div>


        <div class="RpaSection">
            
            <div class="LeftSide">
                PHOTO
            </div>
            
            <div class="RightSide">
                <h1>Automação de Processos de Software</h1>

                <p>A Automação Robótica de Processos (RPA) é uma tecnologia emergente que está ganhando cada vez mais importância em empresas de todos os setores. RPA permite que as empresas automatizem tarefas rotineiras, como preenchimento de formulários, transferência de dados entre sistemas e geração de relatórios, usando software robótico. Isso pode economizar tempo e dinheiro, além de melhorar a precisão e a eficiência dos processos empresariais.</p>
    
                <p>Uma das principais vantagens da RPA é que ela pode ser implementada rapidamente e com pouco ou nenhum impacto nos sistemas existentes. Além disso, a RPA é altamente escalável, permitindo que as empresas adicionem novos robôs conforme necessário. Isso significa que as empresas podem começar pequeno e expandir a automação conforme suas necessidades mudam.</p>
    
                <h1>Benefícios</h1>
    
                <ul>
                    <li>Redução de trabalho manual</li>
                    <li>Melhoria de performance</li>
                    <li>Redução de custos</li>
                    <li>Eficiência Operacional</li>
                </ul>
            </div>


        </div>
    </div>



</body>
<script>
    navbar = document.getElementsByClassName('nav')[0];
    window.onscroll = () => {
        if (window.scrollY >= 2) {
            navbar.classList.add('nav-active');
        } else {
            navbar.classList.remove('nav-active');
        }
    };
</script>
</html>